.App {
   min-height: 100vh;
   background-image: url(https://www.maxpixel.net/static/photo/1x/Universe-Abstract-Galaxy-Gradient-Space-Background-5629007.jpg);
   background-repeat: no-repeat;
   background-position:center center  ;
   background-size: cover;
   background-attachment: fixed;
   

}

